@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F2E8D9; /* Cream/Ivory */
  --foreground: #1B2B44; /* Navy Blue */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1B2B44; /* Navy Blue */
    --foreground: #F2E8D9; /* Cream/Ivory */
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
